/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1400px) {
	.first_screen_content{bottom: 20px;}
	header{padding-top: 20px;}
	.scroll_info{
		bottom: 20px;
	}

}

@media only screen and (max-width: 767px) {
 body{min-width:420px;}
}

@media only screen and (max-width: 479px) {
 body{min-width:300px;}
}