@import "../css/reset.css";
@import "../css/jquery.arcticmodal-0.3.css";
@import "../css/animate.css";
@import "../font-awesome-4.3.0/css/font-awesome.min.css";
@import "../fonts/geometria/fonts.css";
@import "../fonts/pfr/fonts.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'geometriabold', sans-serif;
  font-size:18px;
  line-height:1.2;
  color:#4d4d4d;
  min-width: 1200px;
  background:#fff;
}
.container{
  width: 1030px;
  margin: 0 auto;
}
.container1{
  width: 1120px;
  margin: 0 auto;
}
.container2{
  max-width: 1616px;
  margin: 0 auto;
  padding: 0 15px;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*----------------------> Fonts <------------------*/
.geometriaRegular{font-family: 'geometriaregular';}
.geometriaMedium{font-family: 'geometriamedium';}
.geometriaBold_italic{font-family: 'geometriabold_italic';}
.geometriaLight_italic{font-family: 'geometrialight_italic';}
.pfr_font{font-family: 'pf_regal_swash_proultra_black';}
.openSans{font-family: 'Open Sans', sans-serif;}

/*----------------------> Links And buttons <------------------*/
.trs{
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.trs:hover{
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
a {
  outline:none;
  text-decoration:underline;
  cursor:pointer;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
a:hover{
  text-decoration:none;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.btn{
  display:inline-block;
  width: 198px;
  padding:19px 0;
  margin: 0 0 0 0;
  font-size: 15px;
  text-align: center;
  line-height: 16px;
  background-color: #ff4234;
  color: #fff;
  cursor: pointer;
 }
.btn:hover{
  background:#cd1204;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_right {text-align:right}
.al_center {text-align:center}

.tdu{text-decoration: underline;}

.it{font-style:italic}
.let{letter-spacing:-1px}

.vam{vertical-align: middle;}

.w100{width: 100%;}
.w50{width: 50%;}
.w33{width: 33.333%;}
.w25{width: 25%;}

.h5{height: 5px;}
.h12{height: 12px;}

.border_bottom{
  left: 0;
  right: 0;
  bottom: 0;
}
.border_top{
  left: 0;
  right: 0;
  top: 0;
}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.wrapper {overflow:hidden}
.clearfix:after{
  content:"";
  display: block;
  width: 100%;
  height: 0;
  clear:both;
}
.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{display: none;}

/*----------------------> Basic Colors <------------------*/

.white_color{color: #fff;}
.grey_color{color: #717171;}
.grey_color1{color: #3d3d3d;}
.grey_color2{color: #414141;}
.khaki_color{color: #f4d167;}

.khaki_bg{background-color: #b19238;}

/*=====================> indents ========================*/

/*bottom*/
.mb10{margin-bottom: 10px;}
.mb12{margin-bottom: 12px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb35{margin-bottom: 35px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}
.mb55{margin-bottom: 55px;}
.mb60{margin-bottom: 60px;}
.mb65{margin-bottom: 65px;}
.mb70{margin-bottom: 70px;}
.mb80{margin-bottom: 80px;}
.mb100{margin-bottom: 100px;}
.mb140{margin-bottom: 140px;}

/*top*/
.pt50{padding-top: 50px;}
.pt65{padding-top: 65px;}
.pt145{padding-top: 145px;}

.mt_70{margin-top: -70px;}
.mt_100{margin-top: -100px;}

/*left*/
.pl10{padding-left: 10px;}
.pl19{padding-left: 19px;}
.pl24{padding-left: 24px;}
.pl35{padding-left: 35px;}
.pl40{padding-left: 40px;}
.pl70{padding-left: 70px;}
.pl220{padding-left: 220px;}


.ml_35{margin-left: -35px;}
/*right*/
.pr10{padding-right: 10px;}
.pr19{padding-right: 19px;}
.pr24{padding-right: 24px;}
.pr35{padding-right: 35px;}
.pr115{padding-right: 115px;}

.mr_35{margin-right: -35px;}

/*=====================> Lists ========================*/
.list1_item{
  position: relative;
  font-size: 18px;
  line-height: 23px;
  padding-left:15px;
}
.list1_item:before{
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  left: 0;
  top: 8px;

}
.list2{text-align: left;padding-left: 15px;}
.list2_item{
  position: relative;
  padding-left:30px;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 12px;
}
.list2_item:before{
  content: "";
  display: block;
  position: absolute;
  width: 11px;
  height: 11px;
  left: 0;
  top: 4px;
  border-radius: 50%;
  background-color: #3b3b3b;
}

.list3{}
.list3_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3_link{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
.title1{
  font-size: 49px;
  line-height: 59px;
}

.title2{
  font-size: 47px;
  line-height: 50px;
  font-family: 'pf_regal_swash_proultra_black';
}
.title3{
  font-size: 22px;
  line-height: 26px;
}
.title4{
  font-size: 18px;
  line-height: 23px;
}
.title5{
  font-size: 26px;
}

/*======================> Header <======================*/

header {padding: 35px 0;}
.logo{padding-top: 10px;}
.logo a{
  display:block;
  width:278px;
  height:85px;
  background:url(../images/logo.png) 0 0 no-repeat;
  text-decoration:none;
  text-indent:-9999px;
}
.back_call_btn{
  width: 194px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 14px;
  font-size: 12px;
  line-height: 31px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.back_call_btn i{
  font-size: 16px;
  line-height: 31px;
  width: 15px;
  margin-right: 10px;
}
.back_call_btn:hover{
  color: #000;
  border-color: #000;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.first_screen_box{
  background: url(../images/first_sceen.jpg) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 683px;
}
    .first_screen_content{
      left: 0;
      right: 0;
      bottom: 90px;
    }
      .form_box1{width: 666px;}
.scroll_info{
  bottom: 50px;
  left: 50%;
  margin-left: -20px;
}
.arrows_mouse{
  animation: animationFrames linear 0.7s;
  animation-iteration-count: 1000;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 0.7s;
  -webkit-animation-iteration-count: 1000;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 0.7s;
  -moz-animation-iteration-count: 1000;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 0.7s;
  -o-animation-iteration-count: 1000;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 0.7s;
  -ms-animation-iteration-count: 1000;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}

@-moz-keyframes animationFrames{
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}

@-o-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}

@-ms-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}
/*=====================> Content ========================*/

/*form*/
.input_type{
  width: 100%;
  outline: none;
  font-size: 18px;
  line-height: 21px;
  font-family: 'geometrialight_italic';
  padding:  12px;
  border: 1px solid #c6c6c6;
}
.input_type:focus{font-family: 'geometriaregular';}
.ivalid.input_type{
  border-color: #ef0006;
}
.input_type1{
  border: none;
  padding: 13px 12px;
  background-color: rgba(255,255,255,0.43);
}

.invalid_text{
  font-size: 14px;
  line-height: 20px;
  color: #ef0006;
  display: none;
}

/*about*/
.name_description{
  font-size: 13px;
  line-height: 23px;
}

/*stock_section*/

.stock_section{
  background: url(../images/stock_section_bg.jpg) 0 0 no-repeat;
  padding: 110px 0 95px;
}
.line_work_item{
  width: 300px;
}
  .line_work_item img{
    border-radius: 50%;
  }


/*advantage*/
[class^="advantage_list_item"]{
  padding-left: 30px;
  -webkit-background-size: cover;
  background-size: cover;
}
.advantage_list_item1{background: url(../images/advantage_list_item1.jpg) 0 0 no-repeat;}
.advantage_list_item2{background: url(../images/advantage_list_item2.jpg) 0 0 no-repeat;}
.advantage_list_item3{background: url(../images/advantage_list_item3.jpg) 0 0 no-repeat;}
.advantage_list_item4{background: url(../images/advantage_list_item4.jpg) 0 0 no-repeat;}
.advantage_list_item5{background: url(../images/advantage_list_item5.jpg) 0 0 no-repeat;}
  .advantage_list_text{
    height: 140px;
    font-size: 26px;
  }
  .advantage_list_item4 .advantage_list_text{height: 198px;} 
    .advantage_list_text:before{
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      width: 0;
      margin-left: -5px;
    }

  .emphasis_text{
    font-size: 26px;
    color: #414141;
  }

  /*steps_section*/
  .steps_box{counter-reset: item;}

  .steps_list_item .step_inner{
    width: 50%;
    text-align: right;
    padding-right: 50px;
    padding-top: 15px;
  }
  .steps_list_item:nth-child(even) .step_inner{
    float: right;
    text-align: left;
    padding-right: 0;
    padding-left: 50px;
  }
    .steps_list_item:before{
      content: counter(item)"";
      counter-increment: item;
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #b19238;
      border: 2px solid #dcdcdc;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -27px;
      text-align: center;
      color: #fff;
      font-size: 30px;
      line-height: 50px;
      font-family: 'geometriaregular';
      z-index: 99;
    }
    .step_line{
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -1px;
      width: 2px;
      background-color: #bbbbbb;
    }
    .steps_list_item:last-child .step_line{display: none;}


  /*after installation*/
  .after_installation_section{
    padding: 70px 0 70px;
    background: url(../images/after_installation.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
    .after_installation_img{
      display: inline-block;
      height: 70px;
      width: 65px;
      background: url(../images/after_installation_img.png) 7px 0 no-repeat;
      margin-bottom: 20px;
    }
    .after_installation_item2 .after_installation_img{background-position: -241px 0;}
    .after_installation_item3 .after_installation_img{background-position: -510px 0;}
    .after_installation_item4 .after_installation_img{background-position: -755px 0;}

  /*project*/

  .project_box{
    margin: 0 -16px;
  }
  .project_item{padding: 0 16px;}
    .project_description{
      bottom: 0;
      right: 0;
      left: 0;
      background-color: #b19238;
      font-size: 16px;
      line-height: 18px;
      font-family: 'geometriaregular';
      padding: 15px 10px 15px 22px;
    }

  /*partner*/
  .partner_section{
    padding: 65px 0 70px;
    border: 2px solid #dddddd;
    border-left: none;
    border-right: none;
  }
    .partner_item{margin: 0 15px;}
    .partner_item img{opacity: 0.6;}
    .partner_item:hover img{opacity: 1;}
  .map_box{
    height: 462px;
    background: url(../images/map.jpg) 50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

  /*order value*/
  .order_value_section{
    padding: 100px 0 35px;
    background: url(../images/order_value_section.jpg) 50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .in_total{
    font-size: 22px;
    line-height: 1;
  }
/*================================>> Footer <<========================================*/
.tel{
  font-size: 12px;
  line-height: 33px;
  font-weight: 700;
}
.social_list_link i{
  color: #fff;
  font-size: 20px;
  line-height: 33px;
  padding-right: 20px;
}
.social_list_link:hover i{
  -webkit-transform: translate(0, -7px);
  -ms-transform: translate(0, -7px);
  -o-transform: translate(0, -7px);
  transform: translate(0, -7px);
  /*color: #f4d167;*/
}

/*=====================> MODAL WINDOW ========================*/
.modal_box{
  background-color: #fff;
  width: 372px;
  padding:65px 44px 40px;
}
  .arcticmodal-close{
    font-size: 33px;
    line-height: 33px;
    color: #414141;
    cursor: pointer;
    top: 7px;
    right: 11px;
  }
  .arcticmodal-close:hover{color: #000;}